---
import {loadId} from "astro/dist/vite-plugin-astro/utils";
import "../src/globals.css";
const pageTitle = 'About Me!';
const aboutMe = 'Who I am ?'
const skills = ['HTML', 'CSS', 'javascript', 'JQuery', 'Astro', 'React'];

const skillColor = "navy";
const fontWeight = 600;
let goals = 4;
---
<style define:vars = {{skillColor, fontWeight}}>

    .skill {
        font-family: 'Astro', sans-serif;
        color: var(--skillColor);
        font-weight: var(--fontWeight);
    }
</style>
<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>{pageTitle}</h1>
    <h2>{aboutMe}</h2>

    <ul>
    {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>
    {goals <= 3 ? <p>I have {goals} goals</p> : <p>I have more then {goals - 1} goals</p>}
</body>